<div class="row">
  <div class="col-md-12">
    <h1><%= _('Privacy statement') %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div>
      <h3>
        <%= _("Processing of Personal Data") %>
      </h3>
      <p>
        <%= _("As part of our services in DMPMaastricht, Maastricht University (UM) processes your personal data (e.g. researchers, support staff, funders) in order to:")%>
      </p>
      <ul>
        <li>
          <%= _("Provide you access to the DMPMaastricht service") %>
        </li>
        <li>
          <%= _("Personalise the user experience e.g. provision of relevant templates and guidance") %>
        </li>
        <li>
          <%= _("Keep you up to date with news about DMPMaastricht such as new features or improvements, or changes to our privacy policy") %>
        </li>
        <li>
          <%= _("For network and information security purposes") %>
        </li>
      </ul>
      <p>
        <%= _("The following personal data are processed") %>
      </p>
      <ul>
        <li>
          <%= _("Name") %>
        </li>
        <li>
          <%= _("Email Address") %>
        </li>
        <li>
          <%= _("Professional Information") %>
        </li>
      </ul>
      <p>
        <%= _("The legal basis for processing your data is the so-called")%>
        <i>
          <%= _("performance of a task carried out in the public interest") %>
        </i>
        <%= _("which is laid down in the Dutch Higher Education and Research Act (WHW)") %>
      </p>

      <h3>
        <%= _("Security of Personal Data") %>
      </h3>
      <p>
        <%= _("UM has taken the appropriate technical and organisational measures to protect your personal data against loss or unauthorised access.") %>
      </p>
      <p>
        <%= _("All UM employees have a duty of confidentiality and are only allowed to process and access your personal data on a need to know basis.") %>
      </p>

      <h3>
        <%= _("Storage Period") %>
      </h3>
      <p>
        <%= _("Your personal data are stored for as long as you continue using the DMPMaastricht service but can be removed upon ") %>
        <a href="mailto:datahub@maastrichtuniversity.nl?Subject=Removing%20Personal%20Data" target="_top">
          <%= _("request ") %>
        </a>
        <%= _("within a period of 30 days.") %>
      </p>

      <h3>
        <%= _("Your Rights") %>
      </h3>
      <p>
        <%= _("The current privacy legislation is aimed at giving you as the data subject enforceable and effective controll rights such as the right:") %>
      </p>
      <ul>
        <li>
          <%= _("of access") %>
        </li>
        <li>
          <%= _("to rectification") %>
        </li>
        <li>
          <%= _("to erasure") %>
        </li>
        <li>
          <%= _("to restriction of processing") %>
        </li>
        <li>
          <%= _("to data protability") %>
        </li>
        <li>
          <%= _("to object") %>
        </li>
      </ul>
      <p>
        <%= _("For more information about these rights, please visit the ") %>
        <a href="https://www.maastrichtuniversity.nl/sites/default/files/algemene_privacyverklaring_um.pdf">
          <%= _("Maastricht University General Privacy Statement") %>
        </a>
      </p>
      <p>
        <%= _("If you have any questions, please contact the DMPMaastricht team via the email: ") %>
        <a href="mailto:datahub@maastrichtuniversity.nl">
          <%= _("datahub@maastrichtuniversity.nl") %>
        </a>
      </p>
    
      <h3> <%=_("Revisions")%></h3>
      <p><%= _("This statement was last revised on %{revdate} and may be revised at any time with prior notice.") % { :revdate => "23rd August 2018" }%></p>
    </div>
  </div>
</div>
